<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
    <pa>Current speed is <span id="speed"></span></p>
    <p>Current theta is <span id="theta"></span></p>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script>
	$(document).keydown(function(e) {
		key = "";
		if (e.keyCode == 38) {
			console.log("forward");
			key = "up";
		}

		else if (e.keyCode == 40) {
			console.log("backward");	
			key = "down";
		}

		else if (e.keyCode == 37) {
			console.log("right");
			key = "right";
		}

		else if (e.keyCode == 39) {
			console.log("left");
			key = "left";
		}

		if (key != "") {

			$.post("/control", {command: key})
				.done(function(data) {
					$("#speed").text(data["speed"])
					$("#theta").text(data["theta"])
					console.log(data)
				})
		}
	})
    </script>
  </body>
</html>

